@charset "utf-8";
@import url(reset.css);
@import url(font.css);
@import url(swiper.min.css);
@import url(jquery-ui.css);
@import url(common.css);
@import url(form.css);
@import url(insight.min.css);


/*disabled 커서 기본으로 변경*/
.disabled {
    cursor: default !important;
}

/*2022.07.28 메인페이지 */

    /*스크롤 숨기기*/
        body {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        body::-webkit-scrollbar {
            width:4px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }
        body::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background:#FDD94E;
        }
        body::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .gnb-menu-list {
            /*-ms-overflow-style: none; !* IE and Edge *!*/
            /*scrollbar-width: none; !* Firefox *!*/
        }

        .gnb-menu-list::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .gnb-menu-list::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background:#FDD94E;
        }
        .gnb-menu-list::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .allimi-left-body-right {
            /*-ms-overflow-style: none; !* IE and Edge *!*/
            /*scrollbar-width: none; !* Firefox *!*/
        }

        .allimi-left-body-right::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .allimi-left-body-right::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background:#FDD94E;
        }
        .allimi-left-body-right::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .allimi-right-body-gallery {
            /*-ms-overflow-style: none; !* IE and Edge *!*/
            /*scrollbar-width: none; !* Firefox *!*/
        }

        .allimi-right-body-gallery::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .allimi-right-body-gallery::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background:#FDD94E;
        }
        .allimi-right-body-gallery::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .allimi-right-body-history {
            /*-ms-overflow-style: none; !* IE and Edge *!*/
            /*scrollbar-width: none; !* Firefox *!*/
        }

        .allimi-right-body-history::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .allimi-right-body-history::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background:#FDD94E;
        }
        .allimi-right-body-history::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }
        .allimi-left-body-left {
            /*-ms-overflow-style: none; !* IE and Edge *!*/
            /*scrollbar-width: none; !* Firefox *!*/
        }

        .allimi-left-body-left::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .allimi-left-body-left::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background:#FDD94E;
        }
        .allimi-left-body-left::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }


        .allimi-right-body-preview {
            /*-ms-overflow-style: none; !* IE and Edge *!*/
            /*scrollbar-width: none; !* Firefox *!*/
        }

        .allimi-right-body-preview::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .allimi-right-body-preview::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background:#FDD94E;
        }
        .allimi-right-body-preview::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .card-body {
            /*-ms-overflow-style: none; !* IE and Edge *!*/
            /*scrollbar-width: none; !* Firefox *!*/
        }
        .card-body::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }
        .card-body::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background:#FDD94E;
        }
        .card-body::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background: #b4b4b4;
        }
        .pay_management {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        .pay_management::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }
        .pay_management::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background:#FDD94E;
        }
        .pay_management::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background: #b4b4b4;
        }
        select::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }
        select::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background:#FDD94E;
        }
        select::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background: #b4b4b4;
        }


        .pop-body::-webkit-scrollbar {
            width:5px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }
        .pop-body::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background:#FDD94E;
        }
        .pop-body::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background: #b4b4b4;
        }
    /*.swiper-slide {*/
    /*    max-height: 160px;*/
    /*}*/




    .main-calendar-month-header-col.sunday {
        color: red !important;
    }

    .main-calendar-month-header-col.saturday, .main-calendar-month-header-col.saturday .number{
        color:blue !important;
    }

    .number.sunday{

        color:red !important;
    }

    .number.saturday{

        color:blue !important;
    }

    .statutory {

        color: red !important;
    }


    .loading-container {
        display:none;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;


    }
    .loading-container img{
        max-width:50px;
    }

    .loading-container-2 {
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;


    }
    .loading-container-2 img{
        max-width:50px;
    }
    .sales-loading-wrap{
        display: none;
        position: absolute;
        background:rgba(255,255,255,0.6);
        z-index: 99999;
        width:100%;
        height: 100%;
        align-items: center;
        justify-content: center;

    }

    .splash-wrap {
        display:none;
        width:100%;
        height: 100%;
    }
    .splash{
        -webkit-animation: loading 1.3s ease backwards;
        animation: loading 1.3s ease backwards;
        display:flex;
        width:100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: #F8C300;
        z-index: 9999999;
        transition: 0.5s;

    }



@keyframes loading {
    0% {
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes loading {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}



/*작업결제관리페이지*/


.pay_management{

    width: 373px;
    height: 100%;
    max-height: calc( 100vh - 129px );
    position: absolute;
    right: 0;
    margin-right: -373px;
    z-index: 5000;
    background: #fff;
    box-shadow: -8px 11px 9px -3px #f4f4f4;
    border: solid 1px #cecece;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.pay-data-card{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.pay-card-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    padding: 0 20px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;

    overflow:visible;
}

.pay-close-btn{
    width: 40px;
    height: 60px;
    background: #fff;
    box-shadow: -8px -5px 9px -3px #f4f4f4;
    position: fixed;
    right: calc(25px + 373px);
    top: 101px;
    margin-right: -373px;
    opacity: 0;
    border: solid 1px #cecece;
    /* border-radius: 5px; */
    box-sizing: border-box;
    /* border-right: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.pay-card-body{
    width:100%;
}

.pay-card-header{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #222;
    padding-left: 20px;
}
.pay-card-body-title{
    width:calc(100% - 20px);
    background: #f4f4f4;
    position: relative;
    min-height: 44px;
    padding-left:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pay-flex-table{
    padding-left:20px;
    padding-right:20px;
    display: flex;
    flex-direction: column;

}
.pay-flex-table-cell{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cecece;
    padding-top:8px;
    padding-bottom:8px;
}
.pay-flex-table-item{
    display:flex;
    width:100%;

}
.pay-flex-table-data{
    display: flex;
    width:100%;
    align-items: center;
}
.pay-flex-table-title{
    min-width:85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pay-flex-table-data-inner{
    justify-content: space-between;
    display:flex;
    font-size:14px;
    width:100%;

}
.pay-user-grade-item{
    display:flex;
    align-items: center;
}

.pay-txt{
    font-weight:500;
    font-size:14px;
}

.pay-user-sub-cellphone-name{
    margin-right:10px;
}

.pay-flex-table-data-side{
    align-self : flex-start;
}
.pay-grade-modify{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 0;
    position: relative;
    background: url(../images/icon/10-ic-36-edit-middle@2x.png) left top no-repeat;
    background-size: 32px auto;
}

.pay-user-sub-cellphone{
    display: flex;
    flex-direction: column;
}
.pay-user-sub-cellphone-wrap{
    display: flex;
}

.call-edit{
    margin-left:10px;
    margin-top:5px;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #cecece;
    cursor: pointer;
}
.pay-noshow{
    margin-right:20px;
}
.pay-sub-txt{
    font-size:11px;
    line-height: 22px;
    font-weight:300;
}

.pay-customer-memo{

    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
    margin-top:30px;

}
.pay-customer-memo-title{
    margin-bottom:12px;
}


.pay-customer-memo-save{
    width:100% !important;
    margin-top:16px;

}
.pay-special-memo{

    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
    margin-top:30px;


}
.pay-special-memo-title{
    margin-bottom:12px;
}
.pay-special-memo-save{
    width:100% !important;
    margin-top:16px;
}
.pay-product-save{
    width:calc(100% - 40px) !important;
    margin-top:16px;
    padding-left:20px;
    padding-right:20px;
}

.sticky-remove{
    display:block;
    position:relative !important;
}

.pay-card-content-1{
    margin-top:50px;
}
.pay-card-content-3{
    margin-top:50px;
}
.pay-card-content-3-2{
    margin-top:50px;
}
.pay-card-content-4{
    margin-top:50px;
}
.pay-card-content-5{
    margin-top:50px;
}
.pay-card-content-6{
    margin-top:50px;
}
.pay-card-content-6-1{
    margin-top:50px;
}
.pay-card-content-7{
    margin-top:50px;
}

.pay-card-content-8{
    margin-top:50px;
}


.pay-customer-pet-group{
    margin-top:12px;
}
.pay-customer-view-pet-picture{

    display:flex;
    flex-wrap:wrap;
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
}
.btn-bg-yellow{
    background: #FEE500;
    color:#202020;
    width:126px;
    padding:0;
    margin-right:20px;
    height:26px !important;
}

.pay-item-user-info{
    display: flex;
    align-items: center;
    margin-left:12px;
}

.pay-item-user-info-inner{
    width:100%;

}

.pay-pet-name{
    font-size:16px;
    font-weight: 500;
    margin-bottom:8px;

}
.pay-pet-cate{
    font-size:12px;

}

.pay-item-action{
    margin-top:20px;
}

.pay-pet-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
}

.pay-customer-view-pet-detail{
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:16px;
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
}

.pay-btn-detail-toggle{
    display: flex;
    align-items: center;

}
.pay-btn-detail-toggle:after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background: url(../images/icon/btn-info-spread@2x.png) center center no-repeat;
    background-size: 10px auto;
}

.pay-btn-detail-toggle-2{
    display: flex;
    align-items: center;

}
.pay-btn-detail-toggle-2:after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background: url(../images/icon/btn-info-spread@2x.png) center center no-repeat;
    background-size: 10px auto;
}

.pay-btn-detail-toggle-3{
    display: flex;
    align-items: center;

}
.pay-btn-detail-toggle-3:after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background: url(../images/icon/btn-info-spread@2x.png) center center no-repeat;
    background-size: 10px auto;
}

.pay-service-selected-wrap{
    border : 1px solid #cecece;
    border-radius:12px;
    padding:24px;
    margin-top:16px;
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
    display: none;
}
.pay-list-title{
    font-size:14px;
}
.pay-list-data{
    font-size:13px;
    margin-top:4px;
}

.pay-service-selected-group + .pay-service-selected-group{
    margin-top:16px;
    padding-top:16px;
    border-top:1px solid #cecece;
}

.pay-btn-detail-toggle.actived:after{
    transform:rotate(-180deg);
}
.pay-btn-detail-toggle-2.actived:after{
    transform:rotate(-180deg);
}
.pay-btn-detail-toggle-3.actived:after{
    transform:rotate(-180deg);
}
.pay-before-beauty-list{
    margin-top:10px;
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;

}

.pay-before-beauty-item{
    margin-top:8px;
    display:flex;
    justify-content: space-between;
    background: #fff;
    border:1px solid #cecece;
    font-size:13px;
    font-weight: 300;
    border-radius: 5px;
    width:100%;
    box-sizing: border-box;
    min-height: 35px;
    align-items: center;
    padding: 13px 20px;
}

.pay-text-list-wrap{
    border-radius: 12px;
    padding : 22px 24px;
    border:1px solid #cecece;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
}
.pay-text-list-cell{
    font-size:12px;
    font-weight:500;
    display: flex;
    align-items: center;

}
.pay-text-list-title{
    width:50px;
    font-weight:400;
    color:#666;
    position: relative;
}
.pay-item-data{
    font-weight: 400;
    margin-left: 10px;
}

.pay-text-list-cell{
    margin-top:8px;
}
.pay-text-list-title.unit:after{
    content:':';
    position: absolute;
    top:0;
    right: 0;
}

.pay-datepicker-group{

    display: flex;
    align-items: center;

}
.pay-form-datepicker{

    display: flex;
    align-items: center;

}

.pay-form-datepicker select{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width:100%;
    height: 35px;
    font-size:13px;
    color:#202020;
    border:1px solid #cecece;
    background-image: url(../images/icon/icon_select_arrow.png);
    background-position: right 17px center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 10px auto;
    z-index: 0;
    white-space: normal;
    word-wrap: normal;
    word-break: normal;
    border-radius: 5px;
    margin-left:10px;
    margin-right:10px;

}
.pay-form-datepicker:nth-child(1) select{
    margin-left:0px;
}
.only-change-time{
    width:100% !important;
    margin-top:20px;

}

.pay-form-bottom-info{
    font-size:12px;
    margin-top:10px;
}
.pay-form-bottom-info-2{
    font-size:12px;
    margin-top:10px;
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
}

.pay-basic-data-group-2{

    margin-top:20px;
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
}
.pay-beauty-notice{
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
    margin-top:15px;

}

.pay-wide-tab{
    width:100%;
    padding-left:20px;
    padding-right:20px;

}

.pay-product-save-btn-wrap{
    display: flex;
    width:100%;
    justify-content: center;
}

.pay-user-receipt{
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
}

.user-receipt-wrap{
    display: flex;
    justify-content: center;
    margin-top:20px;
}

.set_update_discount_btn{

    width:100% !important;
}

.pay-complete-wrap{
    margin-top:30px;
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
    margin-bottom:30px;
}

.pay-noshow-count {
    height: 26px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 11px;
    line-height: 24px;
    border-radius: 5px;
}

.use-coupon{

    width:100%;
}

.basic_service {

    padding-left:20px;
    padding-right:20px;
    font-size:12px !important;
}

.display_flex_ju_center{
    display: flex;
    justify-content: center;
}

.save-final-price {
    width:100% !important;
}

#pay_management_loading{

    height:800px;
}

.use-coupon{
    width:100% !important;
}

.dark .pay_management{

    background: #1E1F21;
    color:#fff;
    box-shadow: -8px 11px 9px -3px #333;
}

.dark .pay-card-header-title{

    color:#fff;
}

.dark .pay-card-body-title{
    background: #3F4145;
    color:#fff;
}

.dark #wide-tab-inner3{

    background: #666;
}

.dark .pay-wide-tab{
    background: #666;
}
.dark .tab-cell{
    color:#fff;
}

.dark .pay-before-beauty-item{
    background: #666;

}

.dark .before-path{
    stroke:white !important;
}

.dark .pay-text-list-title{

    color:#fff;
}

.dark .pay-btn-detail-toggle{

    color:#fff;
}

.dark #pay_special_memo_text{
    color:#fff;
}

.dark #coupon_name{
    color:#fff;
}

.dark #coupon_name option{

    color:#fff;
}

.dark #coupon_balance{
    color:#fff;
}
.dark #coupon_balance option{

    color:#fff;
}

.dark #use_coupon{
    color:#fff;
}

.dark #use_coupon option{
    color:#fff;
}

.dark #discount_1{
    color:#fff;
}

.dark #discount_1 option{
    color:#fff;
}

.dark #discount_2{
    color:#fff;
}

.dark #discount_2 option{
    color:#fff;
}

.dark #use_reserves{
    color:#fff;
}
.dark #last_card{
    color:#fff;
}

.dark #last_cash{
    color:#fff;
}

.dark #start_time{
    color:#fff;
}

.dark #start_time option{
    color:#fff;
}


.dark #end_time{
    color:#fff;
}

.dark #end_time option{
    color:#fff;
}

.dark .pay-close-btn{

    background: #1E1F21;
    color:#fff;
    box-shadow: -8px -5px 9px -3px #333
}

.dark #pay_customer_memo_text{
    color:#fff;
}

.dark #agree_view_name{

    color:#fff;
}

.dark #agree_view_cellphone{
    color:#fff;
}
.dark #agree_view_breed_select{
    color:#fff;
}
.dark #agree_view_breed_select option{
    color:#fff;
}

.dark .agree_view_birthday{
    color:#fff;
}
.dark .agree_view_birthday option{
    color:#fff;
}
.dark #agree_view_birthday_date {
    color:#fff
}
.dark #agree_view_birthday_date option{
    color:#fff;
}
.dark #agree_view_vaccination{
    color:#fff;
}
.dark #agree_view_vaccination option{
    color:#fff;
}
.dark #agree_view_luxation{
    color:#fff;
}

.dark #agree_view_luxation option{
    color:#fff;
}

.dark #modify_customer_name{
    color:#fff;
}

.dark #modify_breed_select {
    color:#fff;
}

.dark #modify_breed_select option{
    color:#fff;
}
.dark .modify_birthday{
    color:#fff;
}
.dark .modify_birthday option{
    color:#fff;
}
.dark #modify_birthday_date{
    color:#fff;
}
.dark #modify_birthday_date option{
    color:#fff;
}

.dark #modify_weight1{
    color:#fff;
}

.dark #modify_weight1 option{
    color:#fff;
}

.dark #modify_weight2{
    color:#fff;
}

.dark #modify_weight2 option{
    color:#fff;
}

.dark #modify_beauty_exp {
    color:#fff;
}

.dark #modify_beauty_exp option{
    color:#fff;
}

.dark #modify_vaccination {
    color:#fff;
}

.dark #modify_vaccination option{
    color:#fff;
}


.dark #modify_bite {
    color:#fff;
}

.dark #modify_bite option{
    color:#fff;
}


.dark #modify_luxation {
    color:#fff;
}

.dark #modify_luxation option{
    color:#fff;
}



.dark .hasDatepicker{
    color:#fff !important;
}

.reserve_registration_footer{

    padding-left:20px;
    padding-right:20px;
    width:calc(100% - 40px);
    margin-bottom:40px;
}

.dark .text-add{

    color:#d8d8d8 !important;
    background: #1e1f21 !important;
}
.is_approve2{
    padding-left:20px;
    padding-right:20px;
    width:calc(100% - 40px);
}

.bg-fffbed{
    background:#fffbed;
}

.calendar-drag-item-add{

    max-width:100%;
}

.user-thumb.large{
    cursor: pointer;
}
.shortcut-wrap{right:40px; margin-right:-373px;  bottom:55px; cursor:pointer; display:flex; flex-direction: column;  z-index: 100; position: fixed; opacity: 0}
.shortcut-wrap img{margin-top:10px; width:40px; height:40px;}

.item-photo-name{

    display:flex;
}
.item-other{
    padding-left:40px;

}

.item-photo{

    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 5px;
    border: 0.5px solid #bebebe;
}

.item-noshow{

    background: #ff4848;
    border-radius: 3px;
    width: 35px;
    height: 15px;
    display: flex;
    color: white;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 3px;

}

.item-noshow img{
    width: 15px;
    height: 15px;
}
.item-memo{
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical

}

.dark .item-memo{
    color:#fff;
}
.dark .item-price{
    color :#fff!important;
}

.form-switch-toggle{
    margin-right:40px;
}

.dark .change-reserve-pop-text{

    color:#fff;
}

.dark .portfolio-list-wrap span{

    color:#fff;
}

.mall-wrap{

    background: url(https://partner.banjjakpet.com/images/partner_ban_04_bg.png);
    border-radius: 5px;
}

#deposit_input{
    background: url(/static/images/won.png) no-repeat;
    background-size:25px;
    background-position: right 17px center;
}

.deposit_input{
    background: url(/static/images/won.png) no-repeat;
    background-size:25px;
    background-position: right 17px center;

}

.toggle-wrap{

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 12px;
}

.notice_span{
    width: 40px;
}

.item-cate{
    display:flex;
}

.deposit-box{
    margin-left:10px;
    background: #fff;
    border: 1px solid #666;
    border-radius:5px;
    font-size:10px;
    padding-left: 5px;
    padding-right:5px;

}

.deposit-box-fin{
    margin-left:10px;
    background: #FF4848;
    border: 1px solid #fff;
    border-radius:5px;
    font-size:10px;
    padding-left: 5px;
    padding-right:5px;
    color:#fff;


}

.pay-card-content-0{

    margin-top:10px;
    margin-bottom:15px;

}

.pay-deposit-box{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.pay-deposit-title{
    margin-left:20px;
    color:#ff4848;
    font-size:17px;
    font-weight:500;
}

.pay-deposit-title.actived{
    color:#6840b1
}

.pay-deposit-date{
    display:none;
    font-size: 10px;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 10px;
}

#popup_wrap { display: none; z-index:9999; }
#popup_wrap .custom-modal-content { margin: 0px auto; width: 100%; }
#popup_wrap .swiper-container_front { margin: 0px auto; overflow: hidden; position: relative; z-index: 1; }
#popup_wrap .swiper-container_front .next { position: absolute; left: 10px; top: 50%; color: #000; font-size: 24px; z-index: 1; outline: none; display: block !important; }
#popup_wrap .swiper-container_front .next.swiper-button-disabled { color: rgba(0,0,0,0); }
#popup_wrap .swiper-container_front .prev { position: absolute; right: 10px; top: 50%; color: #000; font-size: 24px; z-index: 1; outline: none; display: block !important }
#popup_wrap .swiper-container_front .prev.swiper-button-disabled { color: rgba(0,0,0,0); }
#popup_wrap .swiper-wrapper { height: auto; }
#popup_wrap .swiper-slide {  }
#popup_wrap .swiper-slide img { width: 100%; height: auto; vertical-align: top; }
#popup_wrap .swiper-pagination_front { position: absolute; left: 0px; bottom: 0px; width: 100%; text-align: center; margin-bottom: 20px; z-index: 1; }
#popup_wrap .swiper-pagination-bullet { margin: 0px 5px; }
#popup_wrap .swiper-pagination-bullet-active { background-color: #999; }
.ui-dialog { padding: 0px; }
.ui-dialog .ui-dialog-content { padding: 0px; }
.ui-dialog-titlebar { display: none; }
.ui-widget-overlay { background-color: rgba(0, 0, 0, 0.8); opacity: 1; }
.ui-dialog-buttonset { width: 100%; }
.ui-dialog .ui-dialog-buttonpane { padding: 0px !important; margin-top: 0px; }
.ui-widget.ui-widget-content { border: 0px; }
.ui-dialog .ui-dialog-buttonpane button { display: inline-block; width: 50%; height: 50px; padding: 0px; margin: 0px; border: 0px; background-color: #222; padding: 0px !important; margin: 0px !important; border-radius: 0px; border: 0px; font-size: 14px; color:white}

.ui-widget-overlay{
    z-index:9998; !important;
}


.allimi-container{

    position: relative;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    width: 84vw;
    height:80vh;
    box-sizing: border-box;
    margin: 0 auto;
}

.allimi-wrap{

    display:flex;
    width:100%;
    height:100%;
}


.allimi-left-wrap{
    width:71%;
    height:100%;
}
.allimi-right-wrap{

    width:29%;
    height:100%;
    position: relative;
}

.allimi-title-box{
    width:100%;
    height:68px;
    border-bottom: 1px solid #cecece;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.allimi-title-box-2{
    display: flex;
    justify-content: space-between;
    right:0px;
    position: relative;
    width:55%;
}

.border-right{
    border-right:1px solid #cecece;
    box-sizing: border-box;

}

.allimi-title{
    font-size:18px;
    font-weight: 500;
}
.allimi-title-right{
    font-size:14px;
    color:#6840B1;
    font-weight:500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:20px;
}
.allimi-title-right img{
    width:14px;
    height: 14px;
    margin-right:5px;

}

.allimi-left-body{

    width:100%;
    height:calc(100% - 85px - 68px);
    display: flex;
}
.allimi-left-footer{

    width:100%;
    height:85px;
    border-top:1px solid #cecece;
    border-right:1px solid #cecece;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.allimi-left-body-left{

    width:320px;
    height:100%;
    display: flex;
    padding-left:20px;
    flex-direction: column;
    padding-right:20px;
    overflow-y:scroll;

}

.allimi-body-title{

    width:100%;
    height:45px;
    min-height:45px;
    background: #6840b1;
    color:#fff;
    font-size:18px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom:20px;


}


.allimi-body-list{
    display: flex;
    flex-direction: column;
    font-size:14px;

}

.allimi-body-cell{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 18px;

}

.allimi-body-cell-title{
    min-width:60px;
}

.allimi-body-cell-value{

    margin-left:34px;
}

.allimi-alert{

    font-size: 15px;
    margin-right: 30px;

}
.allimi-body-cell-icon {

    position: absolute;
    right:0;
    width:15px;
    height: 16px;
}

.allimi-form{
    position: relative;
    display: inline-flex;
    align-items: center;
}

.allimi-form > input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.allimi-form-one > input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.allimi-form > em {
    width:16px;
    height:16px;
    min-width:0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-right:7px;

}

.allimi-form-one >em {
    width:16px;
    height:16px;
    min-width:0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin-right:7px;

}

.allimi-form > input:checked + em{

    background: url('/static/images/icon/color_checked.png') no-repeat;

    background-size:cover;
}

.allimi-form-one > input:checked + em{

    background: url('/static/images/icon/color_checked.png') no-repeat;

    background-size:cover;
}

.allimi-radio-span{
    margin-right:22px;
}

.allimi-gallery-wrap{
    display:flex;
    flex-wrap: wrap;

}

.allimi-gallery-cell{
    width:85px;
    height:85px;
    border: 1px solid #cecece;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right:10px;
    margin-bottom:10px;
    overflow:hidden;
    position: relative;

}

.allimi-gallery-cell img{
    width:100%;
    height:100%;

}

.allimi-gallery-cell-icon img{
    width:20px;
    height:15px;

}


.allimi-gallery-span{
    margin-top:13px;
    font-weight:500;
}


.allimi-check-list{
    position: relative;
    display: none;

}
.allimi-check-container{
    width:45%;
}
.allimi-check-wrap{
    width:100%;
}

.allimi-check-title{

    width:100%;
    height:45px;
    border:1px solid #cecece;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom:20px;
    box-sizing: border-box;
    cursor: pointer;

}

.flex-column{

    /*display: inline-flex;*/
    flex-direction: column;
    justify-content: flex-start;
}

.allimi-form-one{
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-bottom:15px;
}

.allimi-textarea{
    width:260px;
    height:90px;
    border-radius: 5px;
    user-select: auto;
    display: none;
    margin-bottom:20px;
}

.allimi-left-body-right{
    overflow-y:scroll;
    overflow-x: hidden;
    /*padding-right:20px;*/
    padding-left:20px;

    width:calc(100% - 320px);
    height:100%;
    display: flex;
    justify-content: center;
}


.allimi-footer-cell{

    width:162px;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:1px solid #8f8f8f;
    margin-right:20px;
    cursor: pointer;

}

.cell-border-purple{

    border:1.5px solid #6840b1;
    color:#6840b1;
}

.cell-fill-purple{

    border:none;
    background: #6840b1;
    color:#fff;
}



.diary-not-exist{

    width:100%;
    height:40px;
    background: #6840b1;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    border-radius: 5px;
}

.diary-exist{

    width:100%;
    height:40px;
    background: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    border-radius: 5px;
}

.allimi-right-body-default{

    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: calc(100% - 68px);
    transition: 0.5s;
    position: absolute;
    opacity: 1;
}

.allimi-right-body-default img{

    width:50%;
}

.allimi-right-body-gallery{
    display: none;
    justify-content: space-between;
    width:100%;
    height: calc(100% - 68px - 20px);
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    padding-top:20px;
    padding-bottom:20px;
    flex-direction: column;
    overflow-y:scroll;

}

.allimi-right-body-preview{
    display: none;
    justify-content: center;
    align-items: center;
    width:100%;
    height: calc(100% - 68px);
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    overflow-y: scroll;
}
.allimi-right-body-history{
    display: none;
    justify-content: center;
    align-items: center;
    width:100%;
    height: calc(100% - 68px);
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    overflow-y: scroll;
}

.allimi-gallery-list{

    width:100%;
    display: flex;
    padding-left:20px;
    padding-right:20px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
}

.allimi-gallery-list-cell{

    width:135px;
    height:135px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.allimi-gallery-footer{
    display: flex;
    flex-direction: column;
    color:#8F8F8F;
    font-size:13px;
    margin-left:20px;
    margin-bottom:20px;
    padding-right:20px;
}

.allimi-picture-thumb-view{
    position: relative;
    width:100%;
    height:100%;
}
.allimi-picture-obj{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.02);
    border-radius: 14px;
    z-index: 0;

}
.allimi-picture-obj img{
    width:100%;
    height: 100%;
}
.allimi-picture-date{
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    white-space: nowrap;
    color: #fff;
    padding: 0 10px;
    background: rgba(0,0,0,0.51);
    border-radius: 8px;
    z-index: 20;

}
.allimi-picture-ui{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.allimi-picture-select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.allimi-picture-ui > em{
    width: 16px;
    height: 16px;
    min-width: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-right: 7px;
}
.allimi-picture-ui > input:checked + em{
    background: url(/static/images/icon/color_checked.png) no-repeat;
    background-size: cover;
}
.allimi-gallery-cell-delete{

    position: absolute;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    width:20px;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right:3px;
    top:3px;
    cursor: pointer;

}

.allimi-gallery-cell-delete img{
    width:12px;
    height:12px;
}

.allimi-preview-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;


}
.allimi-preview-title{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:20px;
}

.allimi-preview-name{
    font-size:18px;
    font-weight:500;
}
.allimi-preview-date{
    font-size:14px;
}

.allimi-preview-gallery{


    width:300px;
    height:300px;
    border-radius: 16px;
    position: relative;
}

.allimi-swiper-container{
    width:100% !important;
    height: 100% !important;
    border-radius:16px;
}

.allimi-slide img{
    width:100%;
    height:100%;
}

.allimi-prev{
    position: absolute;
    right: 10px;
    top: 50%;
    color: #000;
    font-size: 24px;
    z-index: 1;
    outline: none;
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.allimi-next{
    position: absolute;
    left: 10px;
    top: 50%;
    color: #000;
    font-size: 24px;
    z-index: 1;
    outline: none;
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.left-arrow{

    background: url(/static/images/icon/btn-info-more@2x.png) no-repeat;
    transform:rotateY(-180deg);
    background-size: 15px;
    width: 15px;
    height: 15px;
}


.right-arrow{
    background: url(/static/images/icon/btn-info-more@2x.png) no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;

}

.allimi-pagination{
    width:50px;
    height:20px;
    background: rgba(0,0,0,0.2);
    border-radius:10px;
    color:#fff;
    position: absolute;
    left:calc(100% - 70px);

}

.list-style-basic{
    list-style: disc;
    margin-bottom:10px;
}

.allimi-preview-info{
    border:1px solid #cecece;
    border-radius: 10px;
    width:calc(100% - 40px);
    margin-top:30px;
}
.allimi-preview-info-content{
    padding-left:40px;
    padding-top:20px;
    padding-right:20px;
}

.allimi-preview-info-title{
    height:45px;
    width:100%;
    border-bottom:1px solid #cecece;
    display: flex;
    align-items: center;
    justify-content: center;

}

.allimi-history-wrap{

    width:100%;
    height:100%;
    padding-left:20px;
    padding-right:20px;
}

.allimi-history-title{

}

.diary-date{
    display: flex;
    justify-content: flex-end;

}
.diary-date span{
    font-size:10px;
}

.allimi-preview-shop-title{
    margin-bottom:10px;
}

.allimi-preview-shop-title span{
    font-size:16px;
    font-weight:500;
    margin-bottom:10px;
}
.allimi-preview-shop-phone{

    font-size:14px;
    font-weight:500;
    margin-bottom:10px;

}

.allimi-preview-shop-address{

    font-size:14px;
    font-weight:500;
    margin-bottom:10px;

}

.allimi-preview-shop-phone span{

    font-size:14px;
    font-weight:300;
    margin-left:30px;

}

.allimi-preview-shop-address span{

    font-size:12px;
    font-weight:300;
    margin-left:30px;

}

.diary-wrap{
    padding-left:20px;
    padding-right:20px;
    cursor: pointer;
}
.blank-space{
    width:100%;
    height:50px;
    min-height:50px;
}

.allimi-date-select-wrap{
    width:70%;
    margin-left:30px;


}

.allimi-select-pet-list-wrap{
    display:flex;
    justify-content: space-between;
    width:75%;
    align-items: center;
    margin-top:30px;

}


.allimi-body-title option{
    text-align: center;
}

.allimi-history-list {

    display:flex;
    width:100%;
    flex-direction: column;

}

.allimi-history-img-wrap{
    width:110px;
    height:110px;
    border-radius: 15px;
}
.allimi-history-img-wrap img{
    border-radius: 15px;
    width:100%;
    height: 100%;
}

.allimi-history-info-wrap{
    display:flex;
    flex-direction: column;
    margin-left:15px;
    justify-content: center;

}


.allimi-history-cell-wrap{
    display: flex;
    margin-top:20px;
}

.allimi-check-title.actived{

    background: url('/static/images/icon/10-ic-16-upside@2x.png') no-repeat;
    background-size:13px;
    background-position: calc(100% - 20px);
}

.allimi-check-title{
    background: url('/static/images/icon/10-ic-16-downside@2x.png') no-repeat;
    background-size:13px;
    background-position: calc(100% - 20px);
}
.allimi-wrap-bg-purple{

    background: #EEE7FA;
}

.allimi-wrap-bg-gray{

    background: #F4F4F4;
}


/* 고객조회 상세 */
.btn.btn-inline01 {
    display: inline-flex;
    width: 335px;
}

.btn-wrap-custom {
    text-align: center;
}

.btn-alimtalk {
    font-size: 14px;
    background: #FEE500;
    width: 126px;
    border-radius: 16px;
    height: 26px;
}

/* 작업결제관리 알리미 */
.diary-not-exist1{

    width:40%;
    height:40px;
    background: #6840b1;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    border-radius: 5px;
}

.diary-exist1{

    width:40%;
    height:40px;
    background: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    border-radius: 5px;
}

.alim_btn {
    position: fixed;
    background: #fff;
    width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    top: 102px;
    border-bottom: 1px solid #cecece;
}