@charset "utf-8";
@import url(reset.css);
@import url(font.css);
@import url(swiper.min.css);
@import url(jquery-ui.css);
@import url(common.css);
@import url(form.css);
@import url(insight.min.css);


/*disabled 커서 기본으로 변경*/
.disabled {
    cursor: default !important;
}

/*2022.07.28 메인페이지 */

    /*스크롤 숨기기*/
        body {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        body::-webkit-scrollbar {
            width:4px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }
        body::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background:#FDD94E;
        }
        body::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .gnb-menu-list {
            /*-ms-overflow-style: none; !* IE and Edge *!*/
            /*scrollbar-width: none; !* Firefox *!*/
        }

        .gnb-menu-list::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .gnb-menu-list::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background:#FDD94E;
        }
        .gnb-menu-list::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }

        .card-body {
            /*-ms-overflow-style: none; !* IE and Edge *!*/
            /*scrollbar-width: none; !* Firefox *!*/
        }
        .card-body::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }
        .card-body::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background:#FDD94E;
        }
        .card-body::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background: #b4b4b4;
        }

        select::-webkit-scrollbar {
            width:3px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }
        select::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background:#FDD94E;
        }
        select::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background: #b4b4b4;
        }


        .pop-body::-webkit-scrollbar {
            width:5px;
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: #b4b4b4;
        }
        .pop-body::-webkit-scrollbar-thumb {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background:#FDD94E;
        }
        .pop-body::-webkit-scrollbar-track {
            /*display: none; !* Chrome, Safari, Opera*!*/
            background: white;
            background: #b4b4b4;
        }
    .swiper-slide {
        max-height: 160px;
    }



